@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Poppins", sans-serif;
}
.mobile-items {
  transition: all 1s ease;
}
.custom-input {
  background: url(./assets/images/bg-shorten-desktop.svg) center center/cover
    no-repeat;
}
.customized-box::before {
  content: "";
  width: 5px;
  height: 800px;
  background-color: aqua;
  position: absolute;
  top: 0;
  left: 41vw;
}
.upper-footer {
  background: url(./assets/images/bg-boost-desktop.svg) center center/cover
    no-repeat;
  background-color: #232127;
}
@media (min-width: 1024px) {
  .customized-box::before {
    content: "";
    width: 800px;
    height: 5px;
    background-color: aqua;
    position: absolute;
    top: 100px;
    left: 10%;
  }
}
@media (min-width: 515px) and (max-width: 640px) {
  .customized-box::before {
    content: "";
    width: 5px;
    height: 800px;
    background-color: aqua;
    position: absolute;
    top: 0;
    left: 43vw;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .customized-box::before {
    display: none;
  }
  .customized-box {
    flex-direction: row;
  }
}
@media (min-width: 1441px) {
  .customized-box::before {
    display: none;
  }
}
